.cart_button{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
    /* text-align: center ; */
}
.image {
    max-width:200px ;
    align-self: center;
}

.add_to_cart, .button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color:rgb(3, 215, 3);
    color: #000000;
    border:none;
    border-radius:20px;
    text-align:center;   
    /* padding: 10px;  */
    height: 30px;
    width: 70px;
  }
  .add_to_cart{
    background-color:rgb(3, 215, 3);
  }

  .add, .sub{
    background-color:transparent;
    border:none;
  }